EXPO_PUBLIC_FIREBASE_API_KEY=xxx
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=bytebank-mobile.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=bytebank-mobile
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=bytebank-mobile.appspot.com
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=xxx
EXPO_PUBLIC_FIREBASE_APP_ID=xxx
